{% extends "base.html" %}

{% block nav %}
    <li><a class="navig nav-link fw-bold py-1 px-0" aria-current="page" href="/">Главная</a></li>
    <li><a class="navig nav-link fw-bold py-1 px-0" href="/about">О нас</a></li>
    {% if current_user.is_authenticated %}
        <li><a class="navig nav-link fw-bold py-1 px-0" href="/sign-out"><i class="fa-regular fa-user fa-sm"></i> {{ current_user.nick_name }}</a></li>
    {% else %}
        <li><a class="navig nav-link fw-bold py-1 px-0" href="/sign-in"><i class="fa-regular fa-user fa-sm"></i> Войти</a></li>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="head-title">
        <h1>Цитата.</h1>
    </div>
    <div class="quote-alone row">
        <div class="col-12 col-sm-8 col-md-9 col-lg-9">
            <h3 class="quote-text-h3">&#10077;{{quote.content}}&#10078;</h3>
            <p class="fw-light">{{quote.author}}</p>
        </div>
        <div class="author-quote col-12 col-sm-4 col-md-3 col-lg-3">
            <h4 class="text-center">{{quote.user.nick_name}}</h4>
            <div class="indicators">
                <p class="indicator-left"><i class="fa-regular fa-comment" style="color: #ffa50a;"></i> {{quote.comments_number}}</p>
                <p class="indicator-right"><i class="fa-regular fa-heart" style="color: #ffa50a;"></i> {{quote.likes_number}}</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h3 class="comment_text">Комментарии к цитате - {{quote.comments_number}}</h3>
    </div>
    {% if quote.comments_number == 0 %}
        <div class="no-quote">
            <p class="lead">Комментариев ещё нет.</p>
        </div>
    {% else %}
        <div class="comments_content justify-content-center mb-4">
            <div class="item_comments row">
                {% for comment in comments%}
                    <div class="comment col-12 row">
                        <div class="author-quote col-12 col-sm-4 col-md-3 col-lg-3">
                            <h4 class="text-center">{{comment.user.nick_name}}</h4>
                            <div class="row">
                                <p class="text-center">{{comment.created_date}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-8 col-md-9 col-lg-9">
                            <p class="text-center">{{comment.content}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if current_user.is_authenticated %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row justify-content-around">
                <div class="col-12 col-sm-8 col-md-9 col-lg-9">
                    {{ form.comment(class="form-input-сomment-add mb-3 w-100", placeholder="Введите комментарий") }}
                    {% for error in form.comment.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-3 mb-5 justify-content-center align-items-center">
                    {{ form.submit(type="submit", class="send-icon") }}
                </div>
            </div>
        </form>
    {% else %}
        <div class="row mb-5">
            <h4>Авторизуйтесь, чтобы оставить комментарий</h4>
        </div>
    {% endif %}
{% endblock %}