
/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(255, 165, 0, 0.2);
  background: rgba(0, 0, 0, 1);
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover-container {
  max-width: 54em;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}


.navig{
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Buttons
 */


.hv-btn:hover{
    background-color: #FFA500;
    border: 1px solid #FFA500;
}

input[type='checkbox'] {
    accent-color: #FFA500;
}


.alert-reg{
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    font-size: 16px;
}

.lb{
    padding:0;
    text-align: left;
    font-size: 20px;
}

.form-input-reg-log{
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom:5px;
}

.form-input-reg-log:focus
{
    border-color: rgba(255, 165, 0, 0.4);
    box-shadow: 0 0 0px 3px rgba(255, 165, 0, 0.4);
}


.head-title{
    margin-bottom: 100px;
    margin-top: 50px;
}

.quote{
    border-radius: none;
    margin-bottom: 100px;
    border-right: 5px solid  rgba(255, 165, 0, 0.8);
    border-left: 5px solid  rgba(255, 165, 0, 0.8);
    text-align: center;
    padding-left: 10px;
    padding-top: 15px;
    align-items: center;
}



.author-quote{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.quote-text{
    transition: 0.3s;
    overflow-wrap: break-word;
}

.quote-text:hover{
    color: rgba(255, 165, 0, 1);
    cursor: pointer;
}

.author-quote-text{
    word-break: break-all;
}


.indicators{
    display: flex;
    justify-content: space-between;
}

.reg-login-text{
    color: white;
}

.reg-login-text:hover{
    cursor: pointer;
    color: #FFA500;
}

