
/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(255, 165, 0, 0.2);
  background: rgba(0, 0, 0, 1);
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover-container {
  max-width: 54em;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.navig{
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Buttons
 */


.hv-btn:hover{
    background-color: #FFA500;
    border: 1px solid #FFA500;
}

input[type='checkbox'] {
    accent-color: #FFA500;
}

input[type='email']:focus, input[type='password']:focus
{
    border-color: rgba(255, 165, 0, 0.4);
    box-shadow: 0 0 0px 3px rgba(255, 165, 0, 0.4);
}


input[type='email'], input[type='password']
{
    width: 50%;

}

.lb{
    width: 50%;
    text-align: left;
    font-size: 20px;
}


.form-signin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
