body, html
{
    margin: 0;
    padding: 0;
    background-color: #000;
}

#particles-js
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#test
{
    position: relative;
    z-index: 3;
	width: 50%;
	min-height: 100vh;
	text-align: center;
	color:white;
	font-size: 50px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.6);
	font-family: monospace;
	box-shadow: 0 0 50px rgba(255, 165, 0, 0.4);
}
